<div>
  <h1>Carritos de Compras</h1>

  {{#each carts}}
    <div class="cart-container">
      <h2>Carrito {{this._id}}</h2>
      <ul class="cart-list">
        {{#each products}}
          <li>Id del producto:{{this._id}}</li>
          <li> Nombre: {{this.name}}</li>
          <li> Precio: {{this.price}}</li>
          <li>Cantidad: {{this.quantity}}</li>
        {{/each}}
      </ul>

      {{#unless this.products.length}}
        <p>Este carrito está vacío</p>
      {{/unless}}
    </div>
  {{/each}}
</div>
