<div>  
  <h1>Product List</h1>
  
 
  <ul id="product-list">
    {{#each products}}
      <li>
        <h2>{{name}}</h2>
        <p>Category: {{category}}</p>
        <p>Availability: {{availability}}</p>
        <p>Price: {{price}}</p>
      </li>
    {{/each}}
  </ul>


<div  id="paginated">
  <p>Page {{ pagination.page }} of {{ pagination.totalPages }}</p>
  {{#if hasPrevPage}}
    <a href={{this.prevLink}}>Anterior</a>
  {{/if}}
  &nbsp;
  {{this.page}}
  {{#if hasNextPage}}
    <a href={{this.nextLink}}>Siguiente</a>
  {{/if}}
</div>
  
  

