
<div id="product-details">
 
  <h1>Detalle del Producto</h1>
  <h2>{{product.name}}</h2>
  <p>Description: {{product.description}}</p>
  <p>Category: {{product.category}}</p>
  <p>Availability: {{product.availability}}</p>
  <p>Price: {{product.price}}</p>
  <button  type="button" class="add-to-cart-button" id={{_id}} >Agregar al Carrito</button>

 
</div>
 <script src="/js/script.js"></script>


